.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
    min-height: 100px;
}

.dark_blue {
    background-color: darkblue;
}

.light_blue {
    background-color: lightblue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}